.margin-left-20 {
	margin-left: 20px;
}

.img-responsive {
    margin: 0 auto;
}

.clicked, .btn.lateral:hover {
    text-decoration: none;
    background-color: #337ab7;
    color: white;
}
.btn.lateral {

}
.graph {
	height: 250px;
}
