{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="col-sm-3 col-sm-offset-4 mt-10">
	<div class="panel panel-primary">
		<div class="panel-heading">
			{{title}}
		</div>
		<div class="panel-body" id="login-body">
			<form method="POST">
				{% csrf_token %}
				{{ form|crispy}}
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value='{{ title }}'>
					{% if title == 'Ingresar' %}	
						<span>o</span>
						<a href="/accounts/register" role="button" class="btn btn-primary">Registrarse</a>
					{% endif %}
				</div>	
			</form>
		</div>	
	</div>		
</div>
{% endblock content %}