.margin-left-20 {
	margin-left: 20px;
}

.img-responsive {
    margin: 0 auto;
}

.clicked, .btn.lateral:hover {
    text-decoration: none;
    background-color: #337ab7;
    color: white;
}
.btn.lateral {

}
.graph {
	height: 250px;
}

circle {
  fill: rgb(31, 115, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf.node circle {
  fill: #ff7f0e;
  fill-opacity: 1;
  stroke: none;
}

text {
  font: 10px sans-serif;
  text-anchor: middle;
  color: blue;
}

.link {
  fill: none;
  stroke: black;
  stroke-opacity: .7;
}

.axis path,
.axis line {
  display: none;
}

.panel-body {
  overflow-y: auto;
}