{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>{% block title %} Document {% endblock %}</title>
	{# Load the tag library #}
	{% load bootstrap3 %}

	{# Load CSS and JavaScript #}
	{% bootstrap_css%}
	<script type="text/javascript" src="{{STATIC_URL }}/js/jquery-3.3.1.min.js"/>
	<script type="text/javascript" src="{{STATIC_URL }}/js/jquery.min.js"/>	
	{% bootstrap_javascript %}
	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
</head>
<body>
	{% include "base\navbar.html" %}
	{% block header %}
	<h1>Hola</h1>
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
	<h2>HELOOOOOO</h2>
	{% endblock %}
</body>
</html>