<!DOCTYPE html>
<html lang="es">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>{% block title %} Document {% endblock %}</title>
	{# Load the tag library #}
	{% load bootstrap3 %}
	{# Load CSS #}
	{% bootstrap_css%}
	<script type="text/javascript" src="{% static '/js/jquery.js' %}"/>	
	<link rel="stylesheet" href="{% static '/css/style.css' %}"/>
	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
	{% block head %}
	{% endblock %}
</head>
<body>
	{% include "base\navbar.html" %}
	{% block header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}
	{% endblock %}
	<script type="text/javascript" src="{% static '/js/jquery-3.3.1.min.js' %}"></script>	
	<script type="text/javascript" src="{% static '/js/javascript.js' %}"></script>
	{% bootstrap_javascript %}
	{% block javascript %}
	{% endblock %}
</body>
</html>