{% extends 'base/base.html' %}

{% load static %}
{% block header %}
{% endblock %}
{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
	    	<div class="panel panel-primary">
				<div class="panel-heading">Suba el archivo CSV para generar las visualizaciones</div>
		  		<div class="panel-body"> 
		  			<input type="file" name="csv_file">
	    		</div>
	    		<div class="panel-footer">
	    			<button type="submit" class="btn btn-success">Generar</button>
	    		</div>
			</div>
		</div>
    </div>
    
  </form>
  <!-- {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %} -->
{% endblock %}